PORT=3001
APP_URL=http://localhost:3001
NUVEMSHOP_CLIENT_ID=
NUVEMSHOP_CLIENT_SECRET=
NUVEMSHOP_APP_SCOPES=read_products,write_products
NUVEMSHOP_USER_AGENT=Tamanho Certo (seu-email@exemplo.com)
NUVEMSHOP_API_VERSION=2025-03
NUVEMSHOP_REQUEST_DELAY_MS=900
SESSION_SECRET=
DATABASE_URL=
DATABASE_SSL=true
